# Ignore bundler config and vendor.
/.bundle
/vendor

# Ignore the coverage files and other reports.
/coverage/*
!/coverage/.last_run.json
/rubycritic

# Ignore pkg dir - where the gem will be created
/pkg
